---
// @ts-ignore
import { Icon } from "src/assets/icons";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500"></h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <!-- Replace the <Icon> tags with <img> tags pointing to your own icons -->
     <a href="https://prosettings.net/teams/team-spirit/">
    <img style="width: 6rem; height: 6rem; margin: 0 1.3rem ;" class="size-10 md:size-100" src="public/spirit.png"  alt="绿龙"/>
     </a>

     <a href="https://prosettings.net/teams/team-vitality/">
    <img style="width: 6rem; height: 6rem; margin: 0 1.3rem;"class="size-8 md:size-12" src="public/小蜜蜂.png" alt="小蜜蜂" />
    </a>

    <a href="https://prosettings.net/teams/faze-clan/">
    <img style="width: 6rem; height: 6rem; margin: 0 1.3rem;"class="size-8 md:size-12" src="public/faze.png" alt="faze clan" />
    </a>

    <a href="https://prosettings.net/teams/g2-esports/">
    <img style="width: 6rem; height: 6rem; margin: 0 1.3rem;"class="size-8 md:size-12" src="public/G2.png" alt="G2" />
    </a>

    <a href="https://prosettings.net/teams/natus-vincere/">
    <img style="width: 6rem; height: 6rem; margin: 0 1.3rem;"class="size-8 md:size-12" src="public/navi.png" alt="navi" />
    </a>
    <a href="https://prosettings.net/teams/virtus-pro/">
    <img style="width: 6rem; height: 6rem; margin: 0 1.3rem;"class="size-8 md:size-12" src="public/vp.png" alt="vp" />
    </a>

  </div>
</div>
